.Q{
  color: brown;
  font-size: 100px;
  padding-right:  100px;
}

.princeCharming {
  font-size: 50px;
  color:#ABDDED;

  bottom:0px;
}
.A{
  float: left;
  color: brown;
  font-size: 80px;
  padding-right:  100px;
}

.singleAnswer{
  background-image: url("/assets/images/letter.jpg");
  background-size: cover;
  font-size: 20px;
  text-align: right;
  padding: 20px;
  width: 500px;
  -moz-box-shadow:    3px 3px 6px 6px #E8BDAE;
  -webkit-box-shadow: 3px 3px 6px 6px #E8BDAE;
  box-shadow:         3px 3px 6px 6px #E8BDAE;
  height: 200px;
}

textarea {
  background-image: url("/assets/images/letter.jpg");
  background-size: cover;
  font-size: 20px;
  outline: none;
  text-align: right;
  resize: none;
  width: 500px;
  height: 200px;
}

.questionDiv {
    padding-left: 20px;
  background-image: url("/assets/images/letter.jpg");
  background-size: cover;
  -moz-box-shadow:    3px 3px 6px 6px #E8BDAE;
  -webkit-box-shadow: 3px 3px 6px 6px #E8BDAE;
  box-shadow:         3px 3px 6px 6px #E8BDAE;
  width: 50%;
}


body {
  background:  url("/assets/images/giphy.gif") no-repeat fixed;
  background-size: cover;
  font-family:cursive;
  z-index: -2;

  margin: 125px;
  font-size: 25px;
  text-shadow: -1px 0 #D4A190, 0 1px #D4A190, 1px 0 #D4A190, 0 -1px #D4A190;

}

a {
  text-decoration: none;
  /*border-bottom: 10px solid yellow;*/
}

.nav {
  text-align: center;
  padding: 30px;
  width: 200px;
  float: right;
  background-color: #E9C4F5;
  opacity: 0.6;
  border-radius: 10%;
    -moz-box-shadow:    3px 3px 6px 6px #E8BDAE;
    -webkit-box-shadow: 3px 3px 6px 6px #E8BDAE;
    box-shadow:         3px 3px 6px 6px #E8BDAE;
}
body:after{
  z-index: -1;
  background:  url("/assets/images/animegirl.png") no-repeat fixed;
}
.anime-girl {
  position:fixed;
  left:70vw;
  bottom:0px;
  margin: -5em;
  float: right;
  z-index: -1;
  width: 100px;
}

button {
  background-color: pink;

}
