<div class="nav">
  <p>{{make-dramatic 'ask my anything.'}}</p>
  {{#link-to 'index'}}
        <p>Home</p>
  {{/link-to}}
  {{history-list}}
</div>
<div class="anime-girl">
  <img src="/assets/images/animegirl.png">
</div>
{{outlet}}
